
{% include head.html %}



  {% include header.html %}


  <main id="content">


    <header class="color-bg">
      <div class="container">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </header>


    <div class="container">
      <div class="row">

        <section id="primary" class="content-area col-sm-8">

          <main id="main" class="site-main portfolio-content" role="main">

            {{ content }}

            <p><a href="/portfolio/" class="button margin-top">Back to List of Projects</a></p>

          </main><!-- #main -->


        </section><!-- #primary -->

        <aside class="col-sm-4 sidebar">

          {% if page.gallery %}<h3>Site Screenshots</h3>{% endif %}

          <div class="gallery">
            {% for picture in page.gallery %}

            <a href="/assets/img/portfolio/{{ picture.img }}" class="img-container" data-lightbox="header">
              <div class="image" style="background-image:url(/assets/img/portfolio/{{ picture.img }});"></div>
            </a>

            {% endfor %}
          </div>

        </aside>

      </div><!-- .row -->
    </div><!-- .container -->


  </main>


  {% include footer.html %}
