---
permalink: /about/
title: "What I Do; About the Developer"
layout: bare
---

<div class="container">
	<h2>What I Do</h2>
	<div class="row">
		<div class="col-md-6">
			<p>I make websites! Small websites, large ones, and all sizes and complexities in between. I just love being able to build cool stuff, and have been doing it for about 7 years. I’ve even worked with big international brands, and learned from some of the best teams in the business.</p>
			<p>There are a lot of things that need to be considered to make a website successful, but it is not always practical to hire an entire team of people, especially for smaller projects. That’s why the real strength of my experience comes from the diversity of people and technology I’ve worked with. You can count on me to look at everything from a <strong>holistic perspective</strong>, whether you need something built from the ground up, or just some adjustments to an existing site.</p>
		</div>
		<div class="col-md-6 mobile-space-top">
			<a href="/nursing/">
				<img class="Screenshot of Nursing.org website" src="/assets/img/laptop-nursing.png" alt="Screenshot of a nifty page I built">
			</a>
		</div>
	</div>
</div>

<div class="alt-bg skill-list">
	<div class="container">
		<h2>Technical Skills</h2>
		<p><em>Programming languages, frameworks, libraries, and other technologies that I have worked with. Always learning more!</em></p>
		<h4><strong>Javascript &amp; Node</strong></h4>
		<ul>
			<li>Backbone</li>
			<li>React</li>
			<li>Electron</li>
			<li>jQuery</li>
			<li>Handlebars</li>
			<li>Cordova</li>
			<li>Gulp</li>
			<li>Grunt</li>
			<li>Webpack</li>
			<li>Knockout</li>
			<li>Angular</li>
			<li>Underscore</li>
			<li>Google Analytics</li>
			<li>AJAX</li>
			<li>Canvas</li>
			<li>A / B Testing</li>
		</ul>
		<h4><strong>PHP</strong></h4>
		<ul>
			<li>WordPress</li>
			<li>Code Igniter</li>
			<li>Yii</li>
			<li>Laravel</li>
			<li>Object Oriented</li>
			<li>Composer</li>
			<li>ExpressionEngine</li>
			<li>Magento</li>
		</ul>
		<h4><strong>Front-End</strong></h4>
		<p><em>I’ve been on projects with each of these platforms creating themes and using their associated template engines, but not architecting with them.</em></p>
		<ul>
			<li>Django</li>
			<li>C# / .NET</li>
			<li>Java with Spring</li>
			<li>Ruby on Rails</li>
			<li>Photoshop</li>
			<li>Shopify</li>
			<li>Squarespace</li>
		</ul>
		<h4><strong>CSS</strong></h4>
		<ul>
			<li>Responsive Design</li>
			<li>Animations</li>
			<li>Media Queries</li>
			<li>Bootstrap</li>
			<li>Flexbox</li>
			<li>LESS</li>
			<li>SCSS</li>
			<li>HTML5</li>
			<li>Mobile First</li>
		</ul>
		<h4><strong>Server &amp; Tools</strong></h4>
		<ul>
			<li>LAMP</li>
			<li>Bash</li>
			<li>Python</li>
			<li>Ubuntu</li>
			<li>Debian</li>
			<li>CentOS</li>
			<li>SSL</li>
			<li>MySQL</li>
			<li>MariaDB</li>
			<li>Postgres</li>
			<li>MongoDB</li>
			<li>Nginx</li>
			<li>Apache</li>
			<li>Git</li>
			<li>SVN</li>
			<li>OWASP ZAP</li>
			<li>Vagrant</li>
			<li>REST APIs</li>
		</ul>
	</div>
</div>


<div class="container">
	<h2>Professional Experience</h2>
	<div class="row">
		<div class="col-sm-8">
			<p>My initial foray into bigger development projects was by contracting in the greater Minneapolis-St. Paul area. I’ve gotten to work on many exciting projects with various teams. The people I have worked with are amazingly talented, and helped teach me tons along the way.</p>
			<p>I’ve been fortunate to be a part of the companies Periscope, Olson, and The Lacek Group. They are some of the top againciest when it comes to world-class websites.</p>
			<p>Every group has its own set of standards and best practices. And each way of doing things has its own advantages and disadvantages. Each choice is a trade-off, and my exposure to different approaches has given me a solid understanding of what works best when. That’s why I can clearly explain your options when it comes to tech related questions.</p>
		</div>
		<div class="col-sm-4 mobile-space-top text-center limit-images">
			<p><a href="http://www.periscope.com/" target="_blank" rel="noopener noreferrer">
				<img src="/assets/img/periscope.png" alt="Periscope" width="200" height="198">
			</a></p>
			<p><a href="http://www.olson.com/" target="_blank" rel="noopener noreferrer">
				<img src="/assets/img/olson.png" alt="Olson" width="250" height="101">
			</a></p>
			<p><a href="http://www.lacek.com/" target="_blank" rel="noopener noreferrer">
				<img src="/assets/img/lacek.png" alt="The Lacek Group" width="200" height="200">
			</a></p>
		</div>
	</div>
</div>


<div class="alt-bg">
	<div class="container">
		<h2>When do you want your site?</h2>
		<p>I only take on one or two projects at a time, so I can stay focused and get it completed as quickly as reasonable. Turnaround for a basic WordPress site is typically under 7 days.</p>
		<p><a class="button" href="/contact/">Let’s Talk</a></p>
	</div>
</div>


<div class="container">
	<h2>Outside work</h2>
	<p>I’m a geek at heart, and love all things related to science and technology. Coding and creating have been a passion since I was a kid; even if I’m not on the job, you can often find me creating something involving my latest obsession. I wrote a <a target="_blank" href="https://docs.google.com/document/d/1keGsKNk4pRiQ43RBiERS72J-1addzJtWbMF8X_u7EUc">strategy guide</a> for a game I play. Open source software is something I advocate strongly; I love linux and use it on a daily basis. I think that artificial intelligence is the future.</p>
	<p>If not a programmer, I would almost certainly be an artist or a designer. I have a deep appreciation for art, color, and composition; especially knowing how difficult the right effect can be to achieve. I enjoy drawing, but digital art and 3D modeling are also fascinating, both of which I dabble in when the inspiration strikes.</p>
</div>

