---
permalink: /accreditedonlinecolleges/
title: "Accredited Online Colleges"
description: "Made to provide information about higher education opportunities, and lead prospective students to associated universities. I helped secure the site by bringing it to full HTTPS compliance."
layout: "portfolio"
image: "/assets/img/portfolio/aoc/database.jpg"
gallery:
 - img: "aoc/database.jpg"
 - img: "aoc/how-it-works.jpg"
 - img: "aoc/resources.jpg"
---

<h2>Website</h2>
<p><a href="https://www.accreditedonlinecolleges.com/">https://www.accreditedonlinecolleges.com/</a></p>


<h3>About the Tech</h3>

<p>This was built on WordPress with a custom theme, using the teams specialized deployment process. Plugins were used but kept to a minimum to help keep performance up.</p>


<h3>My Role on this Project</h3>

<p>The website was still running HTTP only, and we were concerned it would take a hit to SEO now that Google counts that as a factor. The whole theme needed updating, as well as a bunch of content from the database. I was able to quickly jump in and make the updates, taking it to complete compliance across every single page.</p>

<p>Assisted with other general maintenence and bug fixes. This includes making updates to the tracking, adding Google Tag Manager. Did similar work on the .org version of the website as well.</p>

