---
permalink: /eldermark/
title: "Eldermark"
description: "With all their modern tech services, eldermark needed an advanced website that could show off the best of their products. "
layout: "portfolio"
image: "/assets/img/portfolio/elder_home.png"
gallery:
 - img: "elder_about.png"
 - img: "elder_home.png"
 - img: "elder_page.png"
 - img: "elder_service.png"
---

<h2>Website</h2>
<a href="http://www.eldermark.com/" target="_blank" rel="noopener noreferrer">http://www.eldermark.com/</a>

<p>The website has had a redesign since I last worked on it. Screenshots are from a previous version which I was working on at the time.</p>
<h3>About the Tech</h3>
<p>The Eldermark site was built on top of ExpressionEngine, with Bootstrap up front to keep the interface slick and usable on mobile. Custom modifications were made to the back to keep the content process streamlined. The pages were fully responsive and built using bootstrap, html, css, and jquery. Some plugins were used to extend the expression engine functionality.</p>
<h3>My Role in this Project</h3>
<p>The website needed many updates, including fixes to the media queries to make the mobile views fully functional. I was also responsible for creating a members access area with specific controls. I took initiative to find any hidden flaws or bugs in the interface ontop of the original updates.</p>
