---
permalink: /my-pet-reference/
title: "My Pet Reference"
description: "A resource for pet owners, with a trove of info and tips for your fuzzy friends.  This site was a  unique solution - WordPress was used to manage content, but stripped from the front for a custom Backbone app."
layout: "portfolio"
image: "/assets/img/portfolio/mpr_list.png"
gallery:
 - img: "mpr_breed.png"
 - img: "mpr_footer.png"
 - img: "mpr_list.png"
 - img: "mpr_vet.png"
---

<h2>Website</h2>
<a href="http://www.mypetreference.com/" target="_blank" rel="noopener noreferrer">http://www.mypetreference.com/</a>

<p>The website has received updates since I was on it, but most of what I did is still present!</p>
<h3>About the Tech</h3>
<p>My pet reference was built with wordpress, backbone, handlebar templates, javascript, scss, and hand-crafted media queries. Grunt was used as a build tool for all the styles, scripts, and templates. Vagrant was chosen as our development container to keep the team's work consistent.</p>

<p>Wordpress was used for the excellent content management and maintainability. This included some extra functionality with custom post types, making it easy to add extra layout options for our client. The front was completely done from scratch in order to get the snappiest possible experience. Wordpress was removed from everything, except to serve up its data as json. The site itself was single-page style, loading all of its content through ajax, in an attempt to gain better load times, which found some successes.</p>
<h3>My Role in this Project</h3>
<p>I took over the project early in it's life, and was responsible from taking it from a proof of concept to completion - adding missing features, completing what was there, and fixing up any remaining issues. It was all done mobile first, with a special attention to the details of how everything looked and changed at different browser sizes. I did some extra thorough testing across a handful of different android and ios devices to ensure consistency everywhere.</p>
