---
permalink: /nursejournal/
title: "Nurse Journal"
description: "A WordPress site with everything you might need to know about the different types of nursing degrees, and how to get one."
layout: "portfolio"
image: "/assets/img/portfolio/nj/home.jpg"
gallery:
 - img: "nj/articles.jpg"
 - img: "nj/entry-level.jpg"
 - img: "nj/graph.jpg"
 - img: "nj/home.jpg"
 - img: "nj/salary.jpg"


---

<h2>Website</h2>
<p><a href="https://nursejournal.org/">https://nursejournal.org/</a></p>

<p>Made to provide information on Nursing Degrees, how to get them, and relevant topics.</p>



<h3>About the Tech</h3>

<p>Built on WordPress using a custom theme, and many different plugins to extend functionality.</p>



<h3>My Role on this Project</h3>

<p>The site was built ontop of a custom solution for deploying wordpress which unfortunately had some troubles when it came time to update to HTTPS. I was able to step in and make some necessary upgrades to get all pages fully compliant. HTTPS is more important than ever now that Google has officially included it as a ranking signal.</p>

<p>Was responsible for general maintenence and otherwise cleaning up the site. Managed to clean out some heavily tied in WordPress plugins that were causing performance issues, and made some more gains by helping clean some old outdated tracking.</p>

<p>Implemented monetization across many targeted pages, working closely with non-technical members to ensure their strategy was met.</p>

