---
permalink: /pioneer-media/
title: "Pioneer Media Resource"
description: "Made to distribute important news, images, and announcements for various products. It's a system built from scratch on the Yii framework, which was excellent for the flexibility. "
layout: "portfolio"
image: "/assets/img/portfolio/pioneer_home.png"
gallery:
 - img: "pioneer_corn.png"
 - img: "pioneer_home.png"
 - img: "pioneer-mobile.jpg"
 - img: "pioneer_news.png"
 - img: "pioneer-post.jpg"
---

<h2>Website</h2>
<a href="https://mediaresource.pioneer.com/" target="_blank" rel="noopener noreferrer">https://mediaresource.pioneer.com/</a>

<p>All or most of what I created is still present on the live site!</p>
<h3>About the Tech</h3>
<p>Yii framework has an excellent system for generating highly custom CRUD interfaces. The code generator it came with easily saved a week or more of development compared to coding one without. In addition to basic google analytics, the team had come up with a scheme to track specific important actions, specifically with the media player controls and navigation. Standard css and jquery were chosen for the clean, conservative design.</p>
<h3>My Role in this Project</h3>
<p>I worked along side a designer, copy writer, database engineer, but was the sole developer for the project. Using Yii and PHP I built both the front end system and the back end. After initial development was completed, there was a heavy focus on security. OWASP ZAP was used to  scan the site for any potential vulnerability, and I patched up every potential hole found.</p>
