---
permalink: /regency/
title: "Regency Beauty Institute"
description: "Regency ran an impressive WordPress site with dozens of custom page layouts, all lovingly handcrafted by in-house designers. As the sole developer I was responsible for the company's entire web presence."
layout: "portfolio"
image: "/assets/img/portfolio/regency-artists.jpg"
gallery:
 - img: "regency-admission.jpg"
 - img: "regency-apply.jpg"
 - img: "regency-artists.jpg"
 - img: "regency-financial-aid.jpg"
 - img: "regency-programs.jpg"
 - img: "regency-salons-say.jpg"
 - img: "regency-schedule.jpg"
 - img: "regency-studio-luma.jpg"
 - img: "regency-artists.jpg"
---

<h2>Website</h2>
<a href="http://regency.edu/" target="_blank" rel="noopener noreferrer">http://regency.edu/</a>

<p>Unfortunately, Regency has since closed and their website is no longer live.</p>
<h3>About the Tech</h3>
<p>The website primarily ran on wordpress, making good use of plugins, templates, and widgets to lay everything out in a flexible manner. We had a team to follow up on prospective students, so there was an emphasis on our sign up forms. We made heavy use of the "Advanced Custom Fields" plugin in order to easily add new content.</p>
<h3>My Role in this Project</h3>
<p>I was the sole developer entrusted with maintaining every aspect of the companies' web presence. It was already in a nice and functional state when I began, but there were almost constant change requests coming in from our large team. We had about a half dozen people dedicated to writing content, and two designers that worked with me to create gorgeous new layouts.</p>

<p>My team counted on me for reliable, straightforward advice. We would regularly have meetings to discuss various ways we could improve different aspects of the website; it was my duty to provide feedback on possible ways of implementing suggestions and the kind of impact we could expect, as well as doing research to find the best solutions.</p>

<p>We planned out things such as A/B testing for key parts of the websites performance. We knows we wanted to improve the performance of the forms, so we had clear metrics to test against. I also helped devise a system to help the company replace a cumbersome process. Then built a custom email templating system to make our plan successful, saving a lot of time for our customer relation team.</p>