---
permalink: /truvia/
title: "Truvia"
description: "An elegant, clean design built ontop of a flexible system. I made some awesome speed improvements, built out a custom blog, and helped tidy up the code."
layout: "portfolio"
image: "/assets/img/portfolio/truvia-home.jpg"
gallery:
 - img: "truvia-blog.jpg"
 - img: "truvia-blog-posts.jpg"
 - img: "truvia-home.jpg"
 - img: "truvia-jumbo.jpg"
 - img: "truvia-mobile-menu.jpg"
 - img: "truvia-post.jpg"
 - img: "truvia-products.jpg"
 - img: "truvia-recipes.jpg"
 - img: "truvia-recipe-search.jpg"
---


<h2>Website</h2>

<a href="https://www.truvia.com/" target="_blank" rel="noopener noreferrer">https://www.truvia.com/</a>

<p>Most or all of the work I contributed is still alive and well on the site! With an elegant, clean design and one sweet product, this was one of my favorite projects to date!</p>

<h3>About the Tech</h3>
<p>Expression Engine is similar to wordpress, also built on PHP, but with perhaps more focus on flexibility for development. This is what powered all of the content, with standard html, css, and jquery for the front end. The real strength was in the design, so we aimed to keep things simple and clean. Various Expression Engine plugins were used to extend functionality and save time.</p>

<h3>My Role in this Project</h3>
<p>I was brought in specifically to help with some of the difficult speed issues the team was having with the website, along with standard development. While I didn't build every page, my improvements brought better performance site-wide.</p>

<p>A much bigger issue than compressing file sizes could fix, I had to get down and dirty with the code to make lots of changes to make the logic and templates more efficient. Using PHP and the native expression engine tools, I helped bring a lot of order and cleanliness to the code base, reducing as many redundant parts as practical.</p>

<p>After more general improvements to the front end of the site, I  also made a custom blog for health care professionals that the client was very excited for. Teamed up with a designer, I built out that entire portion of the site myself, including setting up the back end functionality as well as the interface.</p>