


#animation-container {
	
	position: relative;

	// Pulls it up under nav
	top: -70px;

	// Pulls content up below to compensate
	margin-bottom: -70px;

	overflow: hidden;

	// May want to adjust JS if changing this
	height: 400px;
	width: 100%; 
	text-align: center;

	h1 {
		font-size: $font-size-title;
		text-shadow: 1px 1px 1px $color-dark;
	}
	p {
		//font-size: $font-size-big;
		margin: 0;
	}

	.button {
		margin-top: $tightness * 2;
		background-color: transparent;
		border: $line-size solid $color-white;
	}


	canvas {
		position: absolute;
		left: 0;
		top: -100px;
		z-index: 10;
	}

	.content {
		z-index: 100;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: $tightness * 2;
	}

} // #animation-container


#hex-container {
	user-select: none;

	position: relative;
	width: 100%;
	height: 100%;
	img {
		//min-height: 500px;
		//min-width: 500px;

		position: absolute;

		animation-name: spin;
		animation-duration: 10000ms;
		animation-delay: 2500ms;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out; 
	}
}


// Now animating with CSS for better performance than JS canvas
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



@media ($break-sm-up) {
	#animation-container {
		h1 {
			font-size: $font-size-xl;
		}
		p {
			font-size: $font-size-big;
		}
	}
}