
.project-gallery {

	h2, h3 {
		margin-bottom: $tightness;
	}


	width: 100%;
	padding: 0;

	.thumb-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.project-thumb {

		flex: 1;
		text-align: center;
		margin: 0;
		margin-right: $tightness;

		img {
			vertical-align: center;
		}


		// Remove spacing from last item
		&:nth-child(4) {
			margin-right: 0;
		}

		// This selects every thumb after the 4th
		&:nth-child(1n+5) {
			display: none;
		}
	}

} // .project-gallery

