

$color-main: #6036D9;

$color-dark: #413A55;

//$color-mid: #2B2933;

$color-alt: #EDE9FC;

$color-white: #F5F2FF;




//Breakpoint for small and up 
$break-sm-up: "min-width: 768px";


$font-size-xl: 54px;
$font-size-title: 42px;
$font-size-subtitle: 30px;
$font-size-big: 24px;
$font-size-text: 18px;
$font-size-small: 14px;


$tightness: 20px;
$line-size: 2px;
$border-radius: 4px;
